[mysqld]
server-id=3
replicate-do-db='queryoffloading'
log-bin=mysql-bin
relay-log=relaylog
log-slave_updates=1
character-set-server = utf8
collation-server = utf8_unicode_ci
skip-character-set-client-handshake
innodb_print_all_deadlocks = 1
general_log = 1
general_log_file=/var/log/mysql/slave-2.log